html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
          margin: 0;
          padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

.title {
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 450px));
  gap: 20px;
}

.book {
  padding: 15px;
  background-color: white;
}

.book__cover {
  width: 100%;
  max-width: 150px;
  margin: 0 auto 16px auto;
}

@media screen and (min-width: 400px) {
  .book__cover {
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.book__cover img {
  width: 150px;
  height: auto;
}

.book__link {
  text-decoration: none;
}

.book__title {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.book__order {
  color: black;
}

.book__pages {
  margin-top: 0.5em;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .book__title,
  .book__pages {
    text-align: left;
  }
}

.book__proposer {
  margin-top: 0.8em;
}

.book__pitch {
  line-height: 1.5;
  margin-top: 0.5em;
}

.book__quote {
  line-height: 1.5;
  margin-top: 0.5em;
  margin-left: 30px;
}

.book__grtitle {
  font-size: 16px;
  margin-top: 0.8em;
}

.book__grblurb {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 0.5em;
}

.book__quote {
  font-size: 14px;
  font-style: italic;
}

#HCB_comment_box {
  max-width: 800px;
  width: 100%;
  margin: 30px auto;
  padding-left: 30px;
  padding-right: 30px;
}